body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Main Header section

*/
header{
    margin-top: 50px;
}
.header-container{
    width: 90%;
    margin: auto; 
     
}
.main-manu{
    display: flex;
    justify-content: space-between;
   
}
.menu-iteam{
    display: flex; 
    align-items: center;
     
}
.menu-iteam div{
    padding-right: 20px; 
    
     
    
}
 

.menu-iteam div a{
    padding-right: 20px;
    text-decoration: none;
    color: rgb(2, 2, 2); 
    font-size: 20px;
    font-weight: 300;
    
}

/* home banner */
.home-banner-section{
    width: 90%; 
    margin: auto;
}
.home-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.banner-details .heading h1{
    font-size: 60px;
    font-weight: 1500;
    color: rgb(37, 37, 37);
}
 .details p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

 
.home-banner>div{
    width: 50%;  
}
.home-banner img{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(207, 205, 205);
    position: relative;
   
    
}
.home-banner{
    
    padding: 60px;
}
.prebooking a{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(228, 2, 134),rgb(202, 6, 137));
    color: white;
    font-weight: 500px;
    border-radius: 20px;
     margin-top: 10px;
     display: inline-block;
}
.fa-arrow-right-long{
     
    margin-left: 5px;
}
 
.banner-image-background{ 
    margin-top: 5%;
    margin-left: 5%;
    position: absolute; 
    height: 314px;
    width: 340px;
    border-radius: 50%; 
    background-color: rgb(223, 219, 219);
}

/* Partner section */
.Pertaners-section{
    width: 90%;
    
    padding: 20px 0px;
    margin: 20px auto;
}
.Pertaners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/* Products section */

.products-section{
    width: 95%; 
    margin: 0 auto;
   
}
.products-section-2{
   
}
.section-titles{
  text-align: center;
  margin-bottom:  40px;
}
.products{ 
    display: flex; 
    justify-content: space-between;
    padding: 50px 80px;
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: wrap;  
    
}
.product{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 5px 10px 5px #b9b9b9;
}
.product-image img{
    width: 100%;
}